.ModalWindow{
    height:400px;
    width:400px;
    margin: auto;
    margin-top: 10rem;
    background-color: aliceblue;
    display:block;
}
.ModalContent{
    display:grid;
}
.buttons{
    display:flex;
    margin: auto;
    padding-left: 1rem;
}