.billingDetails{
    background-color:rgb(141, 174, 204);
    .buttons{
        padding-top: 2rem;
        background-color:white;
        #bookButton{
            margin: auto;
        }
        #backButton{
            margin: auto;
        }
    }
}
